{
  "file": 1,
  "format": 1
}{
  "commands": [
      [
          "0efd61b8232a6bfe5b7111c9a2f2f0978d963065",
          "added",
          "/usr/local/bin/torrent-added"
      ],
      [
          "788c8eeba528e7698f3618ec50f57c45ab5e387b",
          "complete",
          "/usr/local/bin/torrent-complete"
      ],
      [
          "486692757101e97d6133e8c2142e96ea646836c8",
          "removed",
          "/usr/local/bin/torrent-removed"
      ]
  ]
}