{
    "file": 3,
    "format": 1
}{
    "hosts": [
        [
            "9cf36367b58c48b4861bd870d09b83f5",
            "127.0.0.1",
            {{getv "/deluge/daemon/port"}},
            "localclient",
            "b7b7724b95ed837457debd3f93c7313c580201b3"
        ]
    ]
}