{
    "file": 2,
    "format": 1
}{
    "base": "/",
    "cert": "ssl/daemon.cert",
    "default_daemon": "9cf36367b58c48b4861bd870d09b83f5",
    "enabled_plugins": [],
    "first_login": false,
    "https": true,
    "interface": "0.0.0.0",
    "language": "",
    "pkey": "ssl/daemon.pkey",
    "port": {{getv "/deluge/web/port"}},
    "pwd_salt": "7e2d5374caebc86ad7ad0d9c36dd86cd6469f09c",
    "pwd_sha1": "c2e9d94d70c7d6715013b5282c0edbb58c37a710",
    "session_timeout": 3600,
    "sessions": {},
    "show_session_speed": false,
    "show_sidebar": true,
    "sidebar_multiple_filters": true,
    "sidebar_show_zero": false,
    "theme": "gray"
}